### Import Libraries

In [1]:
import pandas as pd
from scipy import stats

### Import Data

In [2]:
lab=pd.read_csv("LabTAT.csv")
lab.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

### Hypothesis Test

In [3]:
stats.f_oneway(lab['Laboratory 1'],lab['Laboratory 2'],lab['Laboratory 3'],lab['Laboratory 4'])

F_onewayResult(statistic=118.70421654401437, pvalue=2.1156708949992414e-57)

### Inference

**HYPOTHESIS**

Ho : There is no difference in the average Turn Around Time (TAT) of reports

Ha : There is any difference in the average Turn Around Time (TAT) of reports

**SOLUTION**

alpha : 0.05

pvalue found : 2.1156708949992414e-57

pvalue is lesser than alpha, Hence Ho is rejected

**CONCLUSION**

There is any difference in the average Turn Around Time (TAT) of reports

### End !!!